/* Part 1: In this lesson we are changing the direction of the main axis. We
do this by using the property flex-direction: column. This changes the main
axis to the vertical. Since justify-content affects how things are spread out
along the main axis the justify-content now controls the vertical axis instead
of the horizontal like normal. Also the align-items will now control the
horizontal instead of the vertical. This is because it controls whatever the
cross axis is. Try playing around the with values that you
can use for the justify-content property and the align-items properties
to see how this works. */

/* Part 2: Use justify-content and align content to make all three end up in
the bottom left corner. */


.container {
  border: 5px solid #ffcc5c;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
